# IDE files
.idea/
.idea
.vscode/

# System files
.DS_Store
Thumbs.db

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so
*.egg
*.egg-info/
dist/
build/

# Project specific
pre_version/
*.yaml
config.ini
*.log

# Virtual environments
venv/
env/
.env